body{
    background: white;
    margin: 0px;
    padding: 0px;
}

#main{
    background-color: aliceblue;
    width: 90%;
    margin: 0 auto;
    padding: 1.5rem 3.125rem;
    border-radius: 8px;
    position: relative;
    top: 1.25rem;
}

li{
    list-style: none;
}

#first{
    background-color:  hsl(263, 55%, 52%);
    margin: 1.25rem;
    padding: 1.25rem;
    border-radius: 8px;
    box-shadow: 1px 1px 2px hsl(217, 19%, 35%);
}

#second{
    background-color:  hsl(217, 19%, 35%);
    margin: 1.25rem;
    padding: 1.25rem;
    border-radius: 8px;
    box-shadow:1px 1px 2px hsl(219, 29%, 14%);
}

#third{
    background-color: hsl(210, 46%, 95%);
    margin: 1.25rem;
    padding: 1.25rem;
    border-radius: 8px;
    box-shadow: 1px 1px 2px hsl(209, 15%, 66%);
}

#fourth{
    background-color: hsl(0, 0%, 100%);
    margin: 1.25rem;
    padding: 1.25rem;
    border-radius: 8px;
    box-shadow: 1px 1px 2px hsl(0, 11%, 27%);
}

#fifth{
    background-color: hsl(219, 29%, 14%);
    margin: 1.25rem;
    padding: 1.25rem;
    border-radius: 8px;
    box-shadow: 1px 1px 2px hsl(209, 15%, 66%);
}

main ul{
    display:grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 0.625rem;
}